body{
    font-family:sans-serif;
    background: linear-gradient(to right, #f79d00, #64f38c);
}
.box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:400px;
    padding:400px;
    background:rgba(0,0,0,.8);
    box-sizing:border-box;
    box-shadow:0 15px 25px rgba(0,0,0,.5);
    border-radius:10px;
}
.box{
    margin:0 o 30px;;
    padding:0;
    color:#004e92;
    text-align: center;
}
h2{
    text-align: center;
}
.box .inputbox{
    position:relative;
}
.box .styling input{
    color:#004e92;
    /* font-size: large; */
    margin-bottom:20px;
    border:none;
    border-bottom:1px solid #004e92;
    outline:none;
    background:transparent;
}

.box .inputbox label{
    position:relative;
    padding:10px 0;
    
    color:#004e92;
    pointer-events:none;
    transition:.5;
}
.box .inputbox input:focus~label{
    top:-18px;
    left:0;
    color:#fff;
}
#cliff{
    color:#004e92;
    text-align: center;
    padding-top:60px;
}
#dice{
    color:#004e92;
    text-align: center;
    font-size: x-large;
}
#container {
    width: 900px;
    margin: 50px auto;
    background-color: #f7f7f7;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  }
  .column {
    background: linear-gradient(to right, #42275a, #734b6d);
    width: 33.33%;
    height: 500px;
    float: left;
    text-align: center;
  }
  .nyendwe{
    text-align: center;
  }
  .totalScoreBox {
    background-color: #48181b;
    color: #fff;
    width: 50%;
    height: 20%;
    margin: 0 auto;
    text-align: center;
  }